asgiref==3.7.2
autopep8==2.0.4
backports.zoneinfo==0.2.1
Django==4.2
django-filter==23.5
djangorestframework==3.14.0
importlib-metadata==7.0.2
Markdown==3.5.2
pycodestyle==2.11.1
pytz==2024.1
sqlparse==0.4.4
tomli==2.0.1
typing-extensions==4.10.0
zipp==3.17.0
